name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: fedora:43

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        dnf -y update
        dnf -y install \
          cmake \
          extra-cmake-modules \
          gcc-c++ \
          gettext \
          kf6-kwallet-devel \
          kf6-ki18n-devel \
          kf6-knotifications-devel \
          libplasma-devel \
          qt6-qtbase-devel \
          qt6-qtdeclarative-devel \
          qt6-qtbase-sql \
          git findutils

    - name: Configure
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --parallel $(nproc)
