name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          cmake \
          extra-cmake-modules \
          g++ \
          gettext \
          libkf6wallet-dev \
          libkf6i18n-dev \
          libkf6notifications-dev \
          libplasma-dev \
          qt6-base-dev \
          qt6-declarative-dev \
          libqt6sql6-sqlite

    - name: Configure
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --parallel $(nproc)
